<div class="row">
    <div class="col-lg-3 d-flex justify-content-center align-items-center my-lg-0 my-5" style="font-size: 40px;">
        <div>
            <h2 class="text-center" style="font-size: 100px">Job Hunt</h2>
            <div class="d-flex justify-content-center" style="width: 100%;">
                <%= link_to "Inicia sesión para comenzar a navegar", new_user_session_path, class: "btn btn-warning my-5" %>
            </div>
        </div> 
    </div>
    <div class="col-lg-9 d-flex justify-content-center align-items-center" style="height: 80vh;">
        <%= image_tag "reunion.avif", class: "rounded m-2", style: "width: 800px;" %>
    </div>
</div>


