<div class="row">
  <div class="col">
    <h1 class="my-5">Ofertas laborales</h1>
    <% if admin_user? %>
      <div class="d-flex justify-content-end">
        <%= link_to "Publicar nueva oferta", new_job_offer_path, class: "btn btn-outline-success mb-5" %>
      </div>
    <% end %>
    <div id="job_offers" class="row">
      <% @job_offers.reverse.each do |job_offer| %>
        <div class="col mb-4">
          <%= render job_offer %>
        </div>
      <% end %>
    </div>
  </div>
</div>
